<section class="reservas-lista-container">
  <header class="page-header">
    <div>
      <h2>Lista de Reservas</h2>
      <p>{{ reservas.length }} reservas encontradas</p>
    </div>
  </header>

  <reserva-detalhes-modal
    *ngIf="reservaSelecionada"
    [reserva]="reservaSelecionada"
    (fechar)="fecharDetalhesReserva()"
    (cancelar)="deletarReservaSelecionada()"
    (checkin)="realizarCheckIn()"
    (checkout)="realizarCheckOut()">
  </reserva-detalhes-modal>

   <div *ngIf="mensagemSucesso" class="toast toast-sucesso">
      {{ mensagemSucesso }}
    </div>

    <div *ngIf="mensagemErro" class="toast toast-erro">
      {{ mensagemErro }}
    </div>

  <div class="lista-panel">
    <p *ngIf="reservas.length === 0" class="empty-state">
      Nenhuma reserva encontrada.
    </p>

    <div *ngIf="reservas.length > 0" class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Hospede</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Quarto</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let reserva of reservas" (click)="exibirDetalhesReserva(reserva)">
            
            <td class="reserva-id">#{{ reserva.id }}</td>
            <td>
              <strong>{{ reserva.nomeDoHospede }}</strong>
            </td>
            <td>{{ formatarDataApi(reserva.checkIn) }}</td>
            <td>{{ formatarDataApi(reserva.checkOut) }}</td>
            <td>{{ reserva.quartoId }}</td>
            <td>
              <span
                class="status-badge"
                [ngClass]="{
                  'status-pendente': reserva.status === 'Pendente',
                  'status-checkin': reserva.status === 'CheckIn',
                  'status-checkout': reserva.status === 'CheckOut',
                  'status-cancelada': reserva.status === 'Cancelada'
                }">
                {{ reserva.status }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
